.logout_wrapper {
    .form {
        padding: 65px 53px;
        h1 {
            margin-bottom: 22px;
            line-height: 1.6rem;
        }
        &_control {
            margin-top: 39px;
        }
        .btn {
            padding: 7px 49px;
            font-size: 21px;
        }
        &_footer {
            margin-top: 40px;
        }
        p {
            a {
                color: #1473e6;
                text-decoration: none;
                font-weight: 500;
            }
        }
    }
}
