.main_wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .main_content {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        .content {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -70px;
        }
    }
    .mapboxgl-ctrl.mapboxgl-ctrl-attrib {
        display: none;
    }

    button,.btn {
        &:hover{
            background-color: #eeb60c;
        }
    }

    .overlay{
        position: relative;
        z-index: 10;
    }
}

@media all and (min-width: 1170px) {
    .wrapper {
        width: 1170px;
        margin: 0 auto;
    }
}
