.main_wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .main_content {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        .content {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -70px;
        }
    }
    .mapboxgl-ctrl.mapboxgl-ctrl-attrib {
        display: none;
    }

    .btn {
        &:hover {
            background-color: #eeb60c;
        }
    }

    .overlay {
        position: relative;
        z-index: 10;
    }

    .icon_wrapper {
        display: flex;
        &.pointer {
            cursor: pointer;
        }
    }

    form label {
        color: #747474;
    }
}

@media all and (min-width: 1170px) {
    #app .wrapper {
        width: 1170px;
        margin: 0 auto;
    }
}

.popperArrow {
    content: "";
    position: absolute;
    top: -8px;
    left: 99px;
    height: 12px;
    width: 12px;
    background: inherit;
    transform: rotate(45deg);
    border-top: inherit;
    border-left: inherit;
    box-shadow: inherit;
}

.validation_error{
    font-size: 10px;
    color: red;
    position: absolute;
    bottom: -14px;
}