.form_row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    input[type="text"] {
        width: 100%;
    }
    &.with_label {
        flex-direction: column;
        align-items: flex-start;
    }
    &.actions_wrapper {
        justify-content: flex-end;
        margin-top: 30px;
        margin-bottom: 0;
    }
}
