.form_wrapper {
    padding: 62px 73px 72px;
    .form_profile {
        &_header {
            margin-bottom: 50px;
            h1 {
                font-weight: bold;
            }
        }

        &_input {
            &:hover {
                &:not(.Mui-disabled) {
                    &:before {
                        border-bottom-color: #eaeaea;
                    }
                }
            }

            &:after {
                border-bottom-color: #eaeaea;
            }

            &.Mui-focused {
                &:after {
                    border-bottom-color: #ffb1b1;
                }
                input {
                    font-weight: 400;
                }
            }

            &:before {
                border-bottom-color: #eaeaea;
            }

            input {
                font-size: 24px;
                font-weight: 300;
                &#cardName {
                    text-transform: uppercase;
                }
            }
        }

        &_label {
            display: flex;
            align-items: center;
            font-weight: 400;
            &.Mui-focused {
                color: #747474;
            }
        }

        .MuiInputBase-input {
            font-size: 24px;
            font-weight: 300;
        }

        .cvc_helper{

        }

    }

    .card {
        width: 319px;
        height: 162px;
        position: relative;
        padding: 30px;
        box-shadow: 0 0 26px rgba(0, 0, 0, 0.05), 0 15px 10px rgba(0, 0, 0, 0.06);
        &_col {
            height: 100%;
        }
    }

    .cards_row {
        margin-bottom: 47px;
    }
}
