.header {
    >div{
        padding: 0;
        width: 1172px;
        margin: 0 auto;
    }
    .logo_wrapper {
        flex-grow: 1;
    }
    .logo {
        width: 156px;
        height: 62px;
        display: flex;
        align-items: center;
    }
    .top_menu_wrapper {
        a {
            &.active {
                background-color: rgba(0, 0, 0, 0.04);
            }
            span {
                text-transform: capitalize;
            }
        }
    }
}
