.logout_wrapper {
    .main_content {
        background: center / cover no-repeat url("../../assets/img/bg.jpg");
        .content {
            .logo {
                width: 157px;
                height: 37px;
            }
            .paper_container {
                @media all and (min-width: 1170px) {
                    width: 503px;
                }
            }
        }
    }
}
